%div.population_show_all
  %h1
    = "Currency Trader - Version 0.1"
  %hr
  %br
  %h2
    = "Evolving Population"
  %table
    %tr
      %th
        = "Population size"
      %th
        = "Units to short/long on each trade"
      %th
        = "Maximum minutes to look back for change"
      %th
        = "Current generation"
      %th
        = "Number of trading strategy sets"
      %th
        = "Simulated days back"
      %th
        = "Minimum ave. trading signals per day per strategy"
      %th
        = "Maximum ave. trading signals per day per strategy"
      %th
        = "Release position EOD"
    %tr
      %td
        = @population.population_size
      %td
        = TradingStrategy::DEFAULT_POSITION_UNITS
      %td
        = TradingStrategy::MAXIMUM_MINUTES_BACK
      %td
        = @population.current_generation
      %td
        = "#{@population.trading_strategy_sets.count} | #{@population.population_size-@population.trading_strategy_sets.where("complete=0").count*@population.population_size} left"
      %td
        = TradingStrategySet::SIMULATE_DAYS_BACK
      %td
        = TradingStrategySet::MIN_TRADING_SIGNALS/TradingStrategySet::SIMULATE_DAYS_BACK
      %td
        = TradingStrategySet::MAX_TRADING_SIGNALS/TradingStrategySet::SIMULATE_DAYS_BACK
      %td
        = TradingStrategySet::FORCE_RELEASE_POSITION ? "Yes" : "No"
  - if @population.best_trading_strategy_set_id
    %h2
      = "Best Trading Strategy Set"
    = render :partial=>"set", :locals=>{:set=>TradingStrategySet.find(@population.best_trading_strategy_set_id)}
    %h2
      = "Strongest Trading Strategy Sets"
    - @population.trading_strategy_sets.order("accumulated_fitness desc").limit(20).each do |set|
      = render :partial=>"set", :locals=>{:set=>set}
