%div.population_show_all
  %h1
    = "Currency Trader - Version 0.3"
  %hr
  %br
  %h2
    = "Trading Operation"
  %table
    %tr
      %th
        = "Symbol"
      %th
        = "Initial Capital"
      %th
        = "Current Capital"
      %th
        = "Profit Loss"
    %tr
      %td
        = @operation.quote_target.symbol
      %td
        = @operation.initial_capital_amount
      %td
        = @operation.current_capital
      %td
        = @operation.trading_positions.sum("profit_loss")
  %br
  = render :partial=>"chart"
  %br
  - (@operation.created_at.to_date..Date.today).each_with_index do |day,i|
    = link_to @current_day.to_date==day ? "<b>#{day}</b>".html_safe : "#{day}", :controller=>"trading_operations", :action=>"chart", :id=>@operation.id, :current_day=>@current_day.to_s
    %br
  = link_to "Back", :controller=>"trading_operations", :action=>"show_all_for", :id=>@operation.id
