%div.population_show_all
  %h1
    = "Currency Trader - Version 0.1"
  %hr
  %br
  %h2
    = "Trading Operation #{@operation.id}"
  %table
    %tr
      %th
        = "Symbol"
      %th
        = "Initial Capital"
      %th
        = "Current Capital"
      %th
        = "Profit Loss"
    %tr
      %td
        = "#{@operation.quote_target.symbol} at #{@operation.trading_strategy_population.quote_target.get_quote_value_by_time_stamp.ask}"
      %td
        = @operation.initial_capital_amount
      %td
        = @operation.initial_capital_amount+@operation.trading_positions.sum("profit_loss")
      %td
        = @operation.trading_positions.sum("profit_loss")
  %h2
    = "Open Positions"
  - total_pl = 0
  %table
    %tr
      %th
        = "Date"
      %th
        = "Open Value"
      %th
        = "Units"
      %th
        = "Profit Loss"
    - @operation.trading_positions.where("open=1").order("created_at DESC").limit(20).each do |position|
      %tr
        %td{:color=>position.created_at+2.hours<DateTime.now ? "#000" : "#f00"}
          = position.created_at
        %td
          = position.value_open
        %td
          = position.units
        %td
          = pos=(position.value_open*position.units).to_i-(position.units*@operation.trading_strategy_population.quote_target.get_quote_value_by_time_stamp.ask).to_i
          - total_pl+=pos
    %tr
      %td
        = ""
      %td
        = ""
      %td
        = "Total"
      %td
        =total_pl
    %tr
      %td
        = ""
      %td
        = ""
      %td
        = "Estimated Profit Loss"
      %td
        = @operation.trading_positions.sum("profit_loss")+total_pl

  %h2
    Open Magnitude
  %table
    - @operation.trading_strategy_population.best_set.trading_strategies.each do |strategy|
      %th
        = strategy.id
    %tr
      - @operation.trading_strategy_population.best_set.trading_strategies.each do |strategy|
        - quote_value = @operation.trading_strategy_population.quote_target.get_quote_value_by_time_stamp
        - quote_value_ask = quote_value ? quote_value.ask : 1.0
        - start_price = quote_value_ask
        - end_price = number_with_precision quote_value_ask+(quote_value_ask*strategy.open_magnitude_signal_trigger).abs, :precision => 5
        - number_of_minutes = (strategy.how_far_back_milliseconds/1000/60).to_i
        %td{:width=>"33%"}
          = render :partial=>"trading_strategies/magnitude_chart", :locals=>{:trading_strategy_id=>strategy.id,
                                                                             :start_price=>start_price,
                                                                             :end_price=>end_price,
                                                                             :number_of_minutes=>number_of_minutes}
  %h2
    Close Magnitude
  %table
    - @operation.trading_strategy_population.best_set.trading_strategies.each do |strategy|
      %th
        = strategy.id
    %tr
      - @operation.trading_strategy_population.best_set.trading_strategies.each do |strategy|
        - quote_value = @operation.trading_strategy_population.quote_target.get_quote_value_by_time_stamp
        - quote_value_ask = quote_value ? quote_value.ask : 1.0
        - start_price = quote_value_ask
        - end_price = number_with_precision quote_value_ask-(quote_value_ask*strategy.close_magnitude_signal_trigger).abs, :precision => 5
        - number_of_minutes = (strategy.how_far_back_milliseconds/1000/60).to_i
        %td{:width=>"33%"}
          = render :partial=>"trading_strategies/magnitude_chart", :locals=>{:trading_strategy_id=>"#{strategy.id}_close",
                                                                             :start_price=>start_price,
                                                                             :end_price=>end_price,
                                                                             :number_of_minutes=>number_of_minutes}
  %h2
    = "Chart for #{@current_day}"
  = render :partial=>"chart"
  %br
  - (@operation.created_at.to_date..Date.today).each_with_index do |day,i|
    = link_to @current_day.to_date==day ? "<b>#{day}</b>".html_safe : "#{day}", :controller=>"trading_operations", :action=>"show_all_for", :id=>@operation.id, :current_day=>day.to_s
    %br
  %h2
    = "Current trading strategy"
    = render :partial=>"trading_strategies/list", :locals=>{:trading_strategies=>@operation.trading_strategy_population.best_set.trading_strategies}
  %h2
    = "Closed Positions"
  %table
    %tr
      %th
        = "Date"
      %th
        = "Open Value"
      %th
        = "Close Value"
      %th
        = "Profit/Loss"
    - @operation.trading_positions.where("open=0").order("created_at DESC").limit(20).each do |position|
      %tr
        %td
          = position.updated_at
        %td
          = position.value_open
        %td
          = position.value_close
        %td
          = position.profit_loss
  %h2
    = "Trading Signals"
  %table
    %tr
      %th
        = "Date"
      %th
        = "Name"
      %th
        = "Open Value"
      %th
        = "Close Value"
      %th
        = "Profit/Loss"
    - @operation.trading_signals.order("created_at DESC").limit(40).each do |signal|
      %tr
        %td
          = signal.created_at
        %td
          = signal.name
        %td
          = signal.open_quote_value
        %td
          = signal.close_quote_value
        %td
          = signal.profit_loss
