%h3
  = "Trading Strategy Set #{trading_strategies.first.trading_strategy_set.id} Fitness #{trading_strategies.first.trading_strategy_set.fitness}"
%table
  %tr
    %th
      = "Id"
    %th
      = "Trading time frame"
    %th
      = "Short/Buy"
    %th
      = "How far back in sec"
    %th
      = "How far back in min"
    %th
      = "Open Magnitude Signal"
    %th
      = "Close Magnitude Signal"
    %th
      = "Ave. Trading signals per day"
    %th
      = "Fitness"
  - trading_strategies.each do |strategy|
    %tr
      %td
        = link_to strategy.id, :controller=>"trading_strategies", :action=>"chart", :id=>strategy.id
      %td
        = "#{strategy.trading_strategy_set.trading_time_frame.from_hour}:00 - #{strategy.trading_strategy_set.trading_time_frame.to_hour}:00"
      %td
        = "Short"
      %td
        = (strategy.how_far_back_milliseconds/1000).to_i
      %td
        = (strategy.how_far_back_milliseconds/1000/60).to_i
      %td
        = number_with_precision strategy.open_magnitude_signal_trigger.abs, :precision => 7
      %td
        = number_with_precision strategy.close_magnitude_signal_trigger.abs, :precision => 7
      %td
        = strategy.number_of_evolution_trading_signals/TradingStrategySet::SIMULATE_DAYS_BACK
      %td
        = strategy.simulated_fitness==TradingStrategy::FAILED_FITNESS_VALUE ? "Excluded by conditions" : strategy.simulated_fitness
