:javascript
  var chart_#{trading_strategy_id};

  var chartData_#{trading_strategy_id} = [{
      date: new Date(2012, 0, 1,0,0,0),
      value: #{start_price}
  }, {
      date: new Date(2012, 0, 1,0,#{number_of_minutes},0),
      value: #{end_price}
  },
   {
        date: new Date(2012, 0, 1,0,59,0),
        value: #{end_price}
    }];

  AmCharts.ready(function () {
      // SERIAL CHART
      chart_#{trading_strategy_id} = new AmCharts.AmSerialChart();
      chart_#{trading_strategy_id}.pathToImages = "/assets/amimages/";
      chart_#{trading_strategy_id}.dataProvider = chartData_#{trading_strategy_id};
      chart_#{trading_strategy_id}.categoryField = "date";

      // AXES
      // category
      var categoryAxis = chart_#{trading_strategy_id}.categoryAxis;
      categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
      categoryAxis.minPeriod = "mm"; // our data is daily, so we set minPeriod to DD
      categoryAxis.gridAlpha = 0.10;
      categoryAxis.axisAlpha = 0;
      categoryAxis.inside = true;

      // value
      var valueAxis = new AmCharts.ValueAxis();
      valueAxis.tickLength = 0;
      valueAxis.axisAlpha = 0;
      valueAxis.gridAlpha = 0;
      valueAxis.showFirstLabel = false;
      valueAxis.showLastLabel = false;
      chart_#{trading_strategy_id}.addValueAxis(valueAxis);

      // GRAPH
      var graph = new AmCharts.AmGraph();
      graph.dashLength = 3;
      graph.lineColor = "#00CC00";
      graph.valueField = "value";
      graph.dashLength = 3;
      graph.bullet = "round";
      chart_#{trading_strategy_id}.addGraph(graph);

      // CURSOR
      //var chartCursor = new AmCharts.ChartCursor();
      //chartCursor.cursorAlpha = 0;
      //chartCursor.zoomable = false;
      //chart_#{trading_strategy_id}.addChartCursor(chartCursor);

      // HORIZONTAL GREEN RANGE
      //var guide = new AmCharts.Guide();
      //guide.value = 10;
      //guide.toValue = 20;
      //guide.fillColor = "#00CC00";
      //guide.inside = true;
      //guide.fillAlpha = 0.2;
      //guide.lineAlpha = 0;
      //valueAxis.addGuide(guide);

      // TREND LINES
      // first trend line
      //var trendLine = new AmCharts.TrendLine();
      //trendLine.initialDate = new Date(2012, 0, 1,0,0,0); // 12 is hour - to start trend line in the middle of the day
      //trendLine.finalDate = new Date(2012, 0, 1,0,#{number_of_minutes},0);
      //trendLine.initialValue = #{start_price};
      //trendLine.finalValue = #{end_price};
      //trendLine.lineColor = "#CC0000";
      //chart_#{trading_strategy_id}.addTrendLine(trendLine);

      // second trend line
      //var trendLine = new AmCharts.TrendLine();
      //trendLine.initialDate = new Date(2012, 0, 17, 12);
      //trendLine.finalDate = new Date(2012, 0, 22, 12);
      //trendLine.initialValue = 16;
      //trendLine.finalValue = 10;
      //trendLine.lineColor = "#CC0000";
      //chart_#{trading_strategy_id}.addTrendLine(trendLine);

      chart_#{trading_strategy_id}.write('chartdiv_#{trading_strategy_id}');

  });

%div{:id=>"chartdiv_#{trading_strategy_id}", :style => "width:100%; height:250px;margin-bottom:10px;"}
